<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swyperio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE91202D1DE3A69500E61C4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9120431DE3A69500E61C4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE91204E1DE3A69500E61C4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
