<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Event Name</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>IDTextfieldCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Event Location</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>IDNormalCell</string>
			<key>additionalRows</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>IDStringPickerCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Start Time</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>IDNormalCell</string>
			<key>additionalRows</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>IDDatePickerCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>End Time</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>IDNormalCell</string>
			<key>additionalRows</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>IDDatePickerCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Max Reservations</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>IDStringPickerCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Event Description</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>IDTextfieldCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
</array>
</plist>
